

body.bg-body
{
    background-color: #f5f5f5;
    .form-signin {
        width: 100%;
        max-width: 380px;
        margin: 0 auto;
        height: 100%;
        padding-top: 100px;
    }
    .error-message {
        background-color: #fdf9f9;
        border: 1px solid #fcc2c3;
        float: left;
        padding: 5px 15px;
    }

    img {
        width: 80px;
        height: 80px;
    }

    .name {
        color: #1a1d20;
    }

    .button {
        font-size: 18px;
    }

    .submit {
        display: none;
    }


}


